@import "../../scss/vars";

.blur {
  filter: blur(3px);
}

.pageWrapper {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  .workspace {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    height: 100%;
    max-width: calc(100vw - 120px);
    .navBar {
      display: flex;
      flex-grow: 0;
      flex-shrink: 0;
      align-items: initial;
      justify-content: stretch;
      height: $navbar-height;
      color: $white;
      .qLogo {
        background: url(../../../resources/img/common/Qligent_logo.svg) no-repeat;
        height: 28px;
        width: 70px;
        margin: 6px 0 0 26px;
        &:hover {
          cursor: pointer;
        }
      }
      .pageTitle {
        display: flex;
        padding: 10px;
        flex: 1;
        align-items: center;
        justify-content: center;
        > * {
          padding-left: 8px;
          &:not(:last-child) {
            &:after {
              content: '';
              padding-left: 8px;
              border-right: 2px solid $white;
            }
          }
        }

      }
      .rightPanel {
        display: flex;
        align-items: center;
        padding: 10px;
        .userlink {
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
    .pageContent {
      display: flex;
      flex-grow: 1;
      height: calc(100% - 40px);
      overflow: auto;
      z-index: 1;
    }
  }
}

.hidden {
  display: none !important;
}






