@import "../../vars.scss";

.pageWrapper {
  height: 100%;
  .navBar {
    color: $white;
    .menuWrapper {
      display: inline-flex;
      flex: 3;
      .menuFix {
        top: 10px !important;
      }
      .pageTitle {
        width: 100%;
        display: inline;
        text-align: center;
      }
      .qLogo {
        //background: url(../../../resources/img/logo-rt.png);
        //background-size: cover;
        height: 3em;
        width: 14em;
        &:hover {
          cursor: pointer;
        }
      }
    }
    .leftPanel {
      text-align: right;
      flex: 1;
    }
  }
  .pageContent {
    height: 100%;
    padding: 0.5rem 1rem;
  }
}

.hidden {
  display: none;
}






