@import "../../scss/vars";

.blur {
  filter: blur(3px);
}

.pageWrapper {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  height: 100%;
  .navBar {
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    align-items: initial;
    justify-content: stretch;
    height: $navbar-height;
    color: $white;
    .menuWrapper {
      display: inline-flex;
      flex: 0;
      .menuFix {
        top: 10px !important;
      }
      .qLogo {
        background: url(../../../resources/img/logo_white.png) no-repeat;
        margin: 8px;
        background-size: 55%;
        height: 3em;
        width: 14em;
        &:hover {
          cursor: pointer;
        }
      }
    }
    .pageTitle {
      width: 100%;
      display: inline;
      text-align: center;
      padding: 10px;
      flex: 1;
    }
    .rightPanel {
      text-align: right;
      flex: 0;
      padding: 10px;
    }
  }
  .pageContent {
    display: flex;
    flex-grow: 1;
    height: 100%;
    z-index: 1;
  }
}

.hidden {
  display: none !important;
}






