@import "../../../../scss/vars";

.dashboardTabs {
  display: flex;
  flex-wrap: wrap;
  max-width: 1300px;

  & > .tabs {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    padding: 18px 0 29px;

    .tabLink {
      text-decoration: none;
    }

    .tab {
      flex-grow: 0;
      display: flex;
      align-items: center;
      padding: 30px 20px 20px;

      &:hover {
        color: white;
      }

      .KQI {
        transform: translate(0, 0.05em);

        .name {
          font-size: 20px;

          .index {
            font-size: 14px;
            left: 3px;
            bottom: -6px;
          }
        }
        .value {
          @media (min-width: 1600px) {
            font-size: 36px;
          }
          font-size: 30px;
          font-weight: bold;
          margin-left: 15px;

          .units {
            font-size: 16px;
            margin-left: 5px;
          }
        }
      }

      .dynamics {
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        font-size: 12px;
        margin-top: -6px;
        line-height: 18px;

        & > span {
          &.positive span {
            color: $green;
          }
          &.negative span {
            color: $red;
          }
        }
      }

      &.primary {
        background-color: rgba(2, 47, 71, 0.27);

        .KQI .value {
          @media (min-width: 1600px) {
            font-size: 48px;
          }
          font-size: 38px;
        }
        .dynamics {
          font-size: 14px;
          margin-left: 20px;
          line-height: 21px;
          margin-top: -12px;
          transform: translate(0, 2px);
        }
      }
    }
  }

  .indicator {
    display: flex;
    justify-content: flex-start;
    flex-basis: 100%;
    padding: 0 9%;

    .offset {
      display: flex;
      justify-content: flex-end;
      flex-basis: 0;
      transition: flex-basis .3s ease-in-out;

      &::after {
        content: '';
        display: block;
        width: 0;
        height: 0;
        border: 11px solid transparent;
        border-bottom-color: white;
        border-top-width: 0;
        margin: -11px -11px 0;
      }
    }
  }
}