.dashboardHead {
  display: flex;
  justify-content: stretch;
  flex-wrap: wrap;

  & > .modeSwitcher {
    flex-grow: 1;
  }

  & > .regularitySwitcher {
    flex-grow: 0;
  }

  & > .filters {
    flex-basis: 100%;
    margin-top: 23px;
  }
}
