@import '../../../scss/vars';

.policiesWrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  width: 100%;
  padding: 0 9px 0 0;
}

.policiesControls {
  padding: 7px 18px;
  height: 36px;
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  background: $white;
  .buttonGroup {
    display: inline-flex;
  }
  .search {
    margin-left: auto;
    width: 20em;
  }
}

.policyTable .tableHeader {
  height: 44px;
}

%child {
  display: flex;
  padding: $table-cell-padding;
}
.policyCell {
  display: flex;
  flex-grow: 1;
  margin: 0 -$table-cell-left-right-padding;
  flex-wrap: wrap;
  .title {
    @extend %child;
    border-bottom: $table-left-border;
    width: 100%;
    justify-content: center;
  }
  .subtitle {
    @extend %child;
    position: relative;
    width: 50%;
  }
  .subtitle + .subtitle {
    border-left: $table-left-border;
  }
  .inHeader + .inHeader:before {
    content: '';
    display: block;
    position: absolute;
    border-left: $table-left-border;
    top: 0;
    left: -1px;
    height: 99999px;
  }
}