@import "../../../scss/vars";

.rolesContainer {
  display: flex;
  flex-grow: 1;
  padding: 0 9px 0 0;
  height: 100%;
}

.rolesWrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  width: 100%;
}

.rolesControls {
  padding: 7px 18px;
  height: 36px;
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  .buttonGroup {
    display: inline-flex;
    > *:not(:last-child) {
      margin-right: 10px;
    }
  }
  .rolesSearch {
    width: 20em;
    margin-left: auto;
  }
}
.confirmationMsg {
  width: 200px;
  color: $white;
  padding-left: 8px;
  display: flex;
  &:before {
    content: url(../../../../resources/img/warning.png);
    height: 15px;
    width: 15px;
    display: block;
    margin-right: 8px
  }
}

.buttonWrapper {
  display: flex;
  justify-content: flex-end;
  padding: 16px 8px 0;
  *:not(:last-child) {
    margin-right: 8px;
  }
}
.rolesRemovingDropdown {
  top: -5px !important;
}

