.rolesContainer {
  display: flex;
  flex-grow: 1;
  padding: 1em;
  height: 100%;
}

.rolesWrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  width: 100%;
}

.controls {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .buttonGroup {
    display: inline-flex;
    > *:not(:last-child) {
      margin-right: 1em;
    }
    .addButton {
      background: url(../../../../resources/img/add_new_over.png);
      &:hover {
        background: url(../../../../resources/img/add_new.png);
      }
    }
  }
  .search {
    width: 20em;
  }
}
