@import "../../../vars";

.rolesContainer {
  padding: 1em;
}

.rolesWrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  width: 100%;
  background-color: $white;
}

.controls {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .buttonGroup {
    display: inline-flex;
    button:not(:last-of-type) {
      margin-right: 1em;
    }
  }
  .search {
    width: 20em;
  }
}
