@import "../../../scss/vars";

.dashboardPage {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  align-items: stretch;
  color: $white;
  padding: 19px 30px 0;

  & > .head {
    flex-shrink: 0;
    flex-grow: 0;
  }
  & > .tabs {
    flex-shrink: 0;
    flex-grow: 0;
    position: relative;
    z-index: 1;
  }
  & > .widgets {
    flex-grow: 1;
    margin-bottom: 30px;

    & > .map {
      .mapTitleKQI {
        display: inline;

        .value {
          margin-left: 0;

          .raw {
            font-weight: bold;
            font-size: 1.3em;
            line-height: 0.7em;
          }

          .units {
            font-size: 0.8em;
          }
        }
      }
    }
  }
}
