@import "../../../scss/vars";

.dashboardPage {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  align-items: stretch;
  color: $white;
  padding: 19px 30px 12px;

  & > .head {
    flex-shrink: 0;
    flex-grow: 0;
  }
  & > .tabs {
    flex-shrink: 0;
    flex-grow: 0;
    position: relative;
    z-index: 1;
  }
  & > .widgets {
    flex-grow: 1;

    & > .map {
      .mapTitleKQI {
        display: inline;

        .value {
          display: none;
        }
      }
    }
  }
}
