@import '../../../scss/vars';

.kqiWrapper {
  display: flex;
  flex-grow: 1;
  height: 100%;
  width: 100%;
  padding: 0 9px 0 0;
  .kqiColumn {
    display: flex;
    flex-direction: column;
  }
  .kqiColumn + .kqiColumn {
    margin-left: 5px;
  }
  .configsTableContainer {
    width: 340px;
  }
  .calculationsTableContainer {
    flex-grow: 1;
  }
}

.kqiControls {
  padding: 7px 18px;
  height: 36px;
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  background: $white;
  .buttonsGroup {
    display: flex;
    .iconBlock + .iconBlock {
      margin-left: 10px;
    }
  }
  .search {
    width: 20em;
  }
}

.deleteStyle {
  color: $grey;
  cursor: pointer;
}
.autoCount {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}