@import '../../../../../scss/vars';

.kqiResultsViewer {
  width: 900px;
  max-width: 900px !important;
  .kqiResultsViewerContent {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    height: 700px;
    .kqiResultsViewerTableContainer {
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      .searchBar {
        display: flex;
        padding: .5rem;
        align-items: center;
        background: $white;
        .search {
          width: 300px;
          margin-left: auto;
        }
      }
    }
    .kqiResultsViewerGraphContainer {
      display: flex;
      height: 300px;
      margin-top: 5px;
      background: $white;
    }
  }
}