@import './images.scss';

$primary-btn-text-color: $white;
.btn:focus {
  box-shadow: none !important;
}
.btn-primary {
  color: $primary-btn-text-color;

  &:hover {
    color: $primary-btn-text-color;
  }
  &:active {
    color: #fff !important;
  }
  &:focus {
    box-shadow: none;
  }
}
.btn-outline-primary {
  color: $primary-btn-text-color;

  &:hover {
    color: $primary-btn-text-color;
  }
  &:active {
    color: #fff !important;
  }
}
$secondary: map-get($theme-colors, 'secondary');
$secondary-btn-text-color: #02486e;
.btn-secondary {
  color: $secondary-btn-text-color;

  &:hover,
  &:active {
    color: $secondary-btn-text-color;
    background-color: $secondary;
  }
}
.btn-outline-secondary {
  color: $secondary;

  &:hover,
  &:active {
    color: $secondary-btn-text-color;
  }
}
.btn-group {
  & > .btn {
    font-size: 16px;
    border-radius: 3px;
    padding: 8.5px 12px;
  }
}
.dropdown-toggle {
  display: flex;
  align-items: center;
}
.dropdown-toggle::after {
  content: '';
  margin-left: 5px;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  border: none;
  @include iconBuilder(10px, 5px, 'arrow-white.svg');
}
.dropdown-toggle[aria-expanded=true]::after {
  transform: rotate(180deg);
}
.show > .btn-outline-secondary.dropdown-toggle::after,
.btn-secondary.dropdown-toggle::after,
.btn-outline-secondary.dropdown-toggle:active::after,
.btn-outline-secondary.dropdown-toggle:hover::after {
  @include iconBuilder(10px, 5px, 'arrow-blue.svg');
}
.show > .btn-outline-secondary.dropdown-toggle,
.btn-secondary.dropdown-toggle,
.show > .btn-outline-secondary.dropdown-toggle:active,
.btn-secondary.dropdown-toggle:active,
.btn-outline-secondary.dropdown-toggle:active {
  color: $secondary-btn-text-color !important;
}
.icon-btn {
  display: flex;
}
.icon-btn:before {
  display: inline-block;
  content: '';
  margin-right: 5px;
}

.icon-btn.dashboard-map-icon:before {
  @include iconBuilder(16px, 16px, 'map.svg');
}

.icon-btn.dashboard-graph-icon:before {
  @include iconBuilder(16px, 16px, 'graph.svg');
}

.icon-btn.dashboard-filter-icon:before {
  @include iconBuilder(16px, 16px, 'filter.svg');
}
.btn-secondary.icon-btn.dashboard-filter-icon:before,
.btn-secondary.icon-btn.dashboard-filter-icon:active:before,
.btn-secondary.icon-btn.dashboard-filter-icon:hover:before,
.btn-outline-secondary.icon-btn.dashboard-filter-icon:active:before,
.btn-outline-secondary.icon-btn.dashboard-filter-icon:hover:before {
  @include iconBuilder(16px, 16px, 'filter-hover-blue.svg');
}
.btn-primary.icon-btn.dashboard-filter-icon:before,
.btn-primary.icon-btn.dashboard-filter-icon:active:before,
.btn-primary.icon-btn.dashboard-filter-icon:hover:before,
.btn-outline-primary.icon-btn.dashboard-filter-icon:before,
.btn-outline-primary.icon-btn.dashboard-filter-icon:active:before,
.btn-outline-primary.icon-btn.dashboard-filter-icon:hover:before {
  @include iconBuilder(16px, 16px, 'filter-hover-white.svg');
}