@import './images.scss';

$primary-btn-text-color: $white;
.btn:focus {
  box-shadow: none !important;
}
.btn-primary {
  color: $primary-btn-text-color;

  &:hover,
  &:active {
    color: $primary-btn-text-color;
  }
  &:focus {
    box-shadow: none;
  }
}
.btn-outline-primary {
  color: $primary-btn-text-color;

  &:hover,
  &:active {
    color: $primary-btn-text-color;
  }
}
$secondary: map-get($theme-colors, 'secondary');
$secondary-btn-text-color: #02486e;
.btn-secondary {
  color: $secondary-btn-text-color;

  &:hover,
  &:active {
    color: $secondary-btn-text-color;
    background-color: $secondary;
  }
}
.btn-outline-secondary {
  color: $secondary;

  &:hover,
  &:active {
    color: $secondary-btn-text-color;
  }
}
.btn-group {
  & > .btn {
    font-size: 16px;
    border-radius: 3px;
    padding: 8.5px 12px;
  }
}
.dropdown-toggle::after {
  width: 8px;
  height: 8px;
  margin-left: 8px;
  transform: rotate(45deg);
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  border-left: none;
  border-top: 0;
}
.btn-outline-secondary.dropdown-toggle {
  &:hover::after {
    border-bottom: 1px solid $secondary-btn-text-color;
    border-right: 1px solid $secondary-btn-text-color;
  }
  &:active::after {
    border-bottom: 1px solid $secondary-btn-text-color;
    border-right: 1px solid $secondary-btn-text-color;
  }
}
.icon-btn:before {
  display: inline-block;
  content: '';
  margin-right: 8px;
}
.icon-btn.dashboard-map-icon:before {
  @include iconBuilder(16px, 16px, 'map.svg');
}
.icon-btn.dashboard-graph-icon:before {
  @include iconBuilder(16px, 16px, 'graph.svg');
}