@mixin imgByPath($path) {
  background: url(../../resources/img/#{$path}) no-repeat 0 0;
}
@mixin iconBuilder($width, $height, $icon) {
  width: $width;
  height: $height;
  @include imgByPath($icon);
}

.addIcon {
  @include iconBuilder(22px, 22px, 'add_new.png');
  &:hover {
    @include imgByPath('add_new_hover.png');
  }
}
.addIcon.iconDisabled {
  @include iconBuilder(22px, 22px, 'add_new_disabled.png');
  &:hover {
    @include imgByPath('add_new_disabled.png');
  }
}
.deleteIcon {
  @include iconBuilder(22px, 22px, 'delete.png');
  &:hover {
    @include imgByPath('delete_hover.png');
  }
}
.deleteIconHover {
  @include iconBuilder(22px, 22px, 'delete_hover.png');
}
.groupIcon {
  @include iconBuilder(22px, 22px, 'group.png');
  &:hover {
    @include imgByPath('group_hover.png');
  }
}
.lockIcon {
  @include iconBuilder(22px, 22px, 'lock.png');
  &:hover {
    @include imgByPath('lock_hover.png');
  }
}
.unlockIcon {
  @include iconBuilder(22px, 22px, 'unlock.png');
  &:hover {
    @include imgByPath('unlock_hover.png');
  }
}
.superadminIcon {
  @include iconBuilder(22px, 22px, 'superadmin.png');
}
.adminIcon {
  @include iconBuilder(22px, 22px, 'admin.png');
}
.userIcon {
  @include iconBuilder(22px, 22px, 'user.png');
}
.kqiAdd {
  @include iconBuilder(22px, 22px, 'add_kqi.png');
  &:hover {
    @include imgByPath('add_kqi_hover.png');
  }
}
.kqiCalculate {
  @include iconBuilder(22px, 22px, 'calc_kqi.png');
  &:hover {
    @include imgByPath('calc_kqi_hover.png');
  }
}

.icon-pdf {
  @include iconBuilder(22px, 22px, 'PDF.png');
}
.icon-xls {
  @include iconBuilder(22px, 22px, 'XLS.png');
}
.icon-template {
  @include iconBuilder(22px, 22px, 'template.png');
}
.icon-state-failed {
  @include iconBuilder(22px, 22px, 'failed.png');
}
.icon-state-running {
  @include iconBuilder(22px, 22px, 'running.png');
}

.icon-state-waiting {
  @include iconBuilder(22px, 22px, 'running.png');
}
.icon-state-byzerror {
  @include iconBuilder(22px, 22px, 'business_error.svg');
}
.icon-state-syserror {
  @include iconBuilder(22px, 22px, 'error.png');
}

.icon-state-success {
  @include iconBuilder(22px, 22px, 'success.png');
}
.icon-state-unknown {
  @include iconBuilder(22px, 22px, 'unknown.png');
}
.icon-retry {
  @include iconBuilder(22px, 22px, 'retry.png');
}

.source-running {
  @include iconBuilder(22px, 22px, 'source-running.png');
}

.source-success {
  @include iconBuilder(22px, 22px, 'source-success.png');
}

.source-failed {
  @include iconBuilder(22px, 22px, 'source-failed.png');
}

.help-icon {
  @include iconBuilder(22px, 22px, 'help.png');
}
.view-icon {
  @include iconBuilder(16px, 16px, 'eye.png');
}
.notification-active-icon {
  @include iconBuilder(16px, 16px, 'notification-active.png');
}
.notification-disabled-icon {
  @include iconBuilder(16px, 16px, 'notification-disabled.png');
}
.refresh-icon {
  @include iconBuilder(22px, 22px, 'refresh.png');
}
.edit-icon {
  @include iconBuilder(22px, 22px, 'config.png');
}
.graph-icon {
  @include iconBuilder(22px, 22px, 'graph_icon.png');
}

.menu-icon-kqi {
  @include iconBuilder(40px, 40px,'menu/kqi.svg');
}
.menu-icon-kqi-active {
  @include iconBuilder(40px, 40px, 'menu/kqi-active.svg');
}

.menu-icon-reports {
  @include iconBuilder(40px, 40px, 'menu/reports.svg');
}
.menu-icon-reports-active {
  @include iconBuilder(40px, 40px, 'menu/reports-active.svg');
}

.menu-icon-sources {
  @include iconBuilder(40px, 40px, 'menu/sources.svg');
}
.menu-icon-sources-active {
  @include iconBuilder(40px, 40px, 'menu/sources-active.svg');
}

.menu-icon-alarms {
  @include iconBuilder(40px, 40px, 'menu/alarms.svg');
}
.menu-icon-alarms-active {
  @include iconBuilder(40px, 40px, 'menu/alarms-active.svg');
}

.menu-icon-users-and-roles {
  @include iconBuilder(40px, 40px, 'menu/users.svg');
}
.menu-icon-users-and-roles-active {
  @include iconBuilder(40px, 40px, 'menu/users-active.svg');
}

.menu-icon-roles {
  @include iconBuilder(40px, 40px, 'menu/users.svg');
}
.menu-icon-roles-active {
  @include iconBuilder(40px, 40px, 'menu/users-active.svg');
}

.menu-icon-policies {
  @include iconBuilder(40px, 40px, 'menu/policies.svg');
}
.menu-icon-policies-active {
  @include iconBuilder(40px, 40px, 'menu/policies-active.svg');
}

.menu-icon-dashboard {
  @include iconBuilder(40px, 40px, 'menu/workspace.svg');
}
.menu-icon-dashboard-active {
  @include iconBuilder(40px, 40px, 'menu/workspace-active.svg');
}

.logout-icon {
  @include iconBuilder(15px, 15px, 'common/logout.svg');
}