@mixin imgByPath($path) {
  background: url(../../resources/img/#{$path}) no-repeat 0 0;
}
@mixin iconBuilder($width, $height, $icon) {
  width: $width;
  height: $height;
  @include imgByPath($icon);
}

.addIcon {
  @include iconBuilder(22px, 22px, 'add_new.png');
  &:hover {
    @include imgByPath('add_new_hover.png');
  }
}
.deleteIcon {
  @include iconBuilder(22px, 22px, 'delete.png');
  &:hover {
    @include imgByPath('delete_hover.png');
  }
}
.deleteIconHover {
  @include iconBuilder(22px, 22px, 'delete_hover.png');
}
.groupIcon {
  @include iconBuilder(22px, 22px, 'group.png');
  &:hover {
    @include imgByPath('group_hover.png');
  }
}
.lockIcon {
  @include iconBuilder(22px, 22px, 'lock.png');
  &:hover {
    @include imgByPath('lock_hover.png');
  }
}
.unlockIcon {
  @include iconBuilder(22px, 22px, 'unlock.png');
  &:hover {
    @include imgByPath('unlock_hover.png');
  }
}
.superadminIcon {
  @include iconBuilder(22px, 22px, 'superadmin.png');
}
.adminIcon {
  @include iconBuilder(22px, 22px, 'admin.png');
}
.userIcon {
  @include iconBuilder(22px, 22px, 'user.png');
}
.kqiAdd {
  @include iconBuilder(22px, 22px, 'add_kqi.png');
  &:hover {
    @include imgByPath('add_kqi_hover.png');
  }
}
.kqiCalculate {
  @include iconBuilder(22px, 22px, 'calc_kqi.png');
  &:hover {
    @include imgByPath('calc_kqi_hover.png');
  }
}

.icon-pdf {
  @include iconBuilder(22px, 22px, 'PDF.png');
}
.icon-xls {
  @include iconBuilder(22px, 22px, 'XLS.png');
}
.icon-template {
  @include iconBuilder(22px, 22px, 'template.png');
}
.icon-state-failed {
  @include iconBuilder(22px, 22px, 'failed.png');
}
.icon-state-running {
  @include iconBuilder(22px, 22px, 'running.png');
}
.icon-state-success {
  @include iconBuilder(22px, 22px, 'success.png');
}
.icon-retry {
  @include iconBuilder(22px, 22px, 'retry.png');
}

.source-running {
  @include iconBuilder(22px, 22px, 'source-running.png');
}

.source-success {
  @include iconBuilder(22px, 22px, 'source-success.png');
}

.source-failed {
  @include iconBuilder(22px, 22px, 'source-failed.png');
}

.help-icon {
  @include iconBuilder(22px, 22px, 'help.png');
}

.refresh-icon {
  @include iconBuilder(22px, 22px, 'refresh.png');
}
.edit-icon {
  @include iconBuilder(22px, 22px, 'config.png');
}
.graph-icon {
  @include iconBuilder(22px, 22px, 'graph_icon.png');
}
