@import './vars';

.modal-backdrop {
  filter: alpha(opacity=65);
}

.modal-header {
  border-top: 2px solid $orange;
  color: $white;
  align-items: center;
  h5 {
    font-size: $font-size-base
  }
  .close {
    text-shadow: none;
    color: white;
    font-weight: normal;
    font-size: 1rem;
    margin: 0;
    padding: 0;
  }
}

.modal-body {
  padding: $modal-body-padding;
}

.modal-footer {
  height: $modal-footer-height;
  justify-content: space-between;
  flex-grow: 0;
  flex-shrink: 0;
  padding: $modal-footer-padding;
}