@import "./vars";

.rw-widget {
  font-size: inherit;
  &.invalid {
    input {
      border-color: #dc3545;
    }
  }
  .rw-widget-picker {
    display: block;
    height: $input-height;
  }
  .rw-widget-container {
    border-radius: $border-radius;
    border: none;
    input {
      @extend .form-control;
      font-size: $default-font-size;
      display: inline;
    }
  }
  .rw-select {
    display: inline;
    border: none;
    .rw-btn {
      border: none;
      vertical-align: bottom;
      background-color: $orange;
      color: $white;
      opacity: 1;
    }
    & > * {
      width: $trigger-width;
    }
  }

  .rw-calendar-head {
    .rw-head-cell {
      font-weight: normal;
    }
  }

  .rw-calendar-grid {
    height: $calendar-height;
  }

  .rw-calendar-header {
    background-color: $border-blue;
    .rw-btn {
      color: $white;
      &:hover {
        background-color: $dark-blue;
      }
    }
  }

  .rw-calendar-footer {
    background-color: $white;
    border-top: $border-width solid $border-blue;
  }
  &.rw-state-disabled {
    border: none;
  }
}

.rw-open {
  .rw-btn-select {
    background-color: $border-blue !important;
    color: $white !important;
  }
}

.rw-cell {
  padding: 0;
  border-radius: $border-radius;
  border: none;
  &.rw-state-focus {
    background-color: $orange;
    color: $white;
    &:hover {
      background-color: $orange;
    }
  }
}

.rw-popup {
  width: $calendar-width;
  background-color: $border-blue;
  border: $border-blue 1px solid;
}

.rw-calendar-popup .rw-popup {
  padding: $calendar-dropdown-padding;
}

.rw-list {
  margin: 10px;
  background: $white;
}

.rw-list-option.rw-state-focus, .rw-list-option.rw-state-focus:hover {
  border-color: $orange;
  background-color: $orange;
}
