
thead {
  font-weight: $table-thead-font-weight;
  color: $white;
  background: #232323; /* Old browsers */
  background: -moz-linear-gradient(top, #232323 0%, #404040 33%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #232323 0%, #404040 33%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #232323 0%, #404040 33%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.table {
  margin-bottom: 0;
  .form-check-input {
    position: relative;
  }
  th {
    font-weight: $table-thead-font-weight;
  }
}

.table-cell-content {
  display: flex;
  overflow: hidden;
  align-items: center;
  .truncated {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.table-bordered {
  th, td {
    padding: $table-cell-padding;

  }
  tr {
    height: $table-cell-height;
  }
  td {
    height: $table-cell-height;
    vertical-align: middle;
    color: $table-body-cell-color;
  }
  th + th, td + td {
    border-left: $table-left-border;
  }
}