$navPanelHeight: 36px;
$underlineHeight: 4px;
$navItemHeight: $navPanelHeight - $underlineHeight;
$underlineColor: #fd7f00;

@mixin orange-underline {
  content: '';
  background-color: transparent !important;
  border-bottom: $underlineHeight solid $underlineColor;
  height: $underlineHeight;
  width: 100%;
  display: block;
}

.nav-tabs {
  display: flex;
  flex-direction: row;
  height: $navItemHeight;
  .nav-item {
    margin-right: 15px;
    margin-left: 15px;
    &:not(.active):hover {
      &:after {
        @include orange-underline;
        opacity: 0.5;
      }
    }
    .nav-link {
      cursor: pointer;
      background-color: transparent;
      border-left: 0;
      font-size: 14px;
      padding-top: 6px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
    }
  }
}