// COLORS
$orange: #ff6000;
$placeholder: #aaa;
$white: #fff;
$light-grey: #E9E9E9;

$dark-blue: #015680;
$border-blue: #206A8F;
$blue: #00aae7;
$light-blue: #B3D1E0;

$enable-rounded: false;

$theme-colors: map-merge((
        "action":    $orange,
), ());

//COMMON
$font-size-base: 0.85rem;
$line-height-base: 1;

  //LINK
$link-color: $white;
$link-decoration: underline;

  //BODY
$body-bg: $dark-blue;

//TABS
$nav-tabs-link-hover-border-color: transparent $dark-blue;
$nav-link-padding-y: .3rem;
$nav-link-padding-x: .3rem;
$nav-tabs-border-width: 1px;
$nav-tabs-link-secondary-bg: $light-blue;
$nav-tabs-link-active-border-color: transparent $dark-blue;


// MODAL
$modal-content-bg: $dark-blue;
$table-bg: $white;
$modal-footer-border-width: 0;
$modal-header-border-width: 0;

//TABLE
$table-cell-left-right-padding: .3em;
$table-cell-top-bottom-padding: 0;
$table-cell-padding: $table-cell-top-bottom-padding $table-cell-left-right-padding;
$table-cell-height: 23px;
$table-border-width: 0;
$table-border-color: transparent;
$table-thead-font-weight: normal;
$table-left-border: 1px $light-grey solid;
$table-hover-bg: #E2E2E2;
$table-accent-bg: #F2F2F2;

//INPUT
$input-border-color: #E1EBF0;
$input-border-width: 1px;
$form-check-input-margin-y: .2em;
$input-line-height: 1;
$input-padding-y: 0.2rem;
$input-padding-x: 0.5rem;

//BUTTONS
$btn-line-height: 1;

//MODALS
$modal-top-padding: .5rem;
$modal-right-padding: .5rem;
$modal-bottom-padding: .5rem;
$modal-left-padding: .5rem;

$modal-header-padding: $modal-top-padding $modal-right-padding $modal-bottom-padding $modal-left-padding;
$modal-inner-padding: .3rem $modal-right-padding .6rem;


@import "~bootstrap/scss/functions";
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';





