// COLORS
$orange: #ff8000;
$placeholder: #aaa;
$grey: #aaa;
$white: #fff;
$green: #7bc031;
$red: #f64646;
$light-grey: #ccc;
$smooth-grey: #f2f2f2;
$menu-grey: #9b9b9b;
$nav-background: #ebebeb;

$darkest-blue: #04283c;
$dark-blue: #02486E;
$border-blue: #206A8F;
$blue: #00aae7;
$light-blue: #B3D1E0;

$enable-rounded: true;

$theme-colors: map-merge((
        "primary": $orange,
        "secondary": $white,
        "action": $orange,
), ());

//COMMON
$default-font-size: 12px;
$font-size-base: 0.85rem;
$line-height-base: 1;
$border-radius: 0;

//DATE_PICKER
$calendar-width: 200px;
$calendar-height: 132px;
$trigger-width: 22px;
$calendar-dropdown-padding: 0 12px 12px 12px;

//LINK
$link-color: $white;
$link-decoration: underline;

//BODY
$body-bg: $dark-blue;

//TABS
$nav-tabs-link-hover-border-color: transparent;
$nav-link-padding-y: 0;
$nav-link-padding-x: 0;
$nav-tabs-border-width: 0;
$nav-tabs-link-secondary-bg: $light-blue;
$nav-tabs-link-active-border-color: transparent;

// MODAL
$modal-content-bg: $dark-blue;
$table-bg: $white;
$modal-footer-border-width: 0;
$modal-header-border-width: 0;

//TABLE
$table-cell-left-right-padding: 8px;
$table-cell-top-bottom-padding: 0;
$table-cell-padding: $table-cell-top-bottom-padding $table-cell-left-right-padding;
$table-cell-height: 22px;
$table-border-width: 0;
$table-border-color: transparent;
$table-thead-font-weight: normal;
$table-left-border: 1px $light-grey solid;
$table-hover-bg: #E2E2E2;
$table-accent-bg: #F2F2F2;
$table-body-cell-color: #333;

//INPUT
$input-border-width: 1px;
$form-check-input-margin-y: .2em;
$input-line-height: 1;
$input-padding-y: 0.2rem;
$input-padding-x: 0.5rem;
$input-height: 22px;
$input-border-color: #bfd5df;
$form-feedback-valid-color: $input-border-color;

//BUTTONS
$btn-line-height: 1;

//MODALS
$modal-right-padding: 15px;
$modal-left-padding: 15px;

$modal-header-padding: 10px $modal-right-padding 10px $modal-left-padding;
$modal-body-padding: 0 $modal-right-padding 0 $modal-left-padding;
$modal-footer-padding: 5px $modal-right-padding 11px $modal-left-padding;
$modal-footer-height: 42px;

//NAVBAR
$navbar-height: 40px;
$navbar-padding-x: 0;
$navbar-padding-y: 0;

//NOTIFICATIONS
$notifications-background: transparent;

$notification-background: $white;
$notification-border-color: $grey;
$notification-margin: 4px;

$notification-top-padding: 6px;
$notification-right-padding: 12px;
$notification-bottom-padding: 12px;
$notification-left-padding: 4px;

$notification-padding: $notification-top-padding $notification-right-padding $notification-bottom-padding $notification-left-padding;
$notification-border: 1px solid $notification-border-color;

//DROPDOWNS
$dropdown-border-width: 0;
$dropdown-bg: $border-blue;
$dropdown-padding-y: 8px;

//MENU

//DASHBOARD
$dashboard-tabs-separator-color: #0d3f63;
$dashboard-positive-color: #7cc032;
$dashboard-negative-color: #fc3737;
$dashboard-expected-color: #9ab5c4;

//FILTERS PANE
$filters-pane-background-color: #0c3d5b;
$filters-pane-separator-color: #0a3755;

//POPOVER
$popover-bg: $darkest-blue;
$popover-border-color: $darkest-blue;
$popover-border-radius: 4px;
$popover-font-size: 14px;

@import "~bootstrap/scss/functions";
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';





