@import '../../../scss/vars';

.headerCell {
  display: flex;
  position: relative;
  cursor: pointer;
  padding: $table-cell-padding;
  align-items: center;
  & + &:before {
    content: '';
    display: block;
    cursor: default;
    position: absolute;
    border-left: $table-left-border;
    top: 0;
    left: -1px;
    height: 99999px;
  }
}
