.usersContainer {
  display: flex;
  flex-grow: 1;
  padding: 0 9px 0 0;
  height: 100%;
}

.usersWrapper {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.controlsWrapper {
  padding: 7px 18px;
  height: 36px;
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  .search {
    width: 20em;
    margin-left: auto;
  }
}
