.usersContainer {
  display: flex;
  flex-grow: 1;
  padding: 1rem 1rem 1rem 0;
  height: 100%;
}

.usersWrapper {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.controlsWrapper {
  padding: 5px;
  height: 32px;
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  .search {
    width: 20em;
    margin-left: auto;
  }
}
