.usersWrapper {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.controlsWrapper {
  padding: 10px;
  font-size: 2rem;
  button:not(:last-of-type) {
    margin-right: 1em;
  }
}
