@import "../../../../scss/vars";

.KQI {
  margin-bottom: 0;

  & > .name {
    & > .parameter {
      font-size: 1em;
    }
    & > .index {
      position: relative;
      bottom: -0.2em;
      font-size: 0.7em;
    }
  }
  & > .value {
    margin-left: 1ex;

    & > .raw {
      font-size: 1em;
    }
    & > .units {
      margin-left: 0.7ex;
    }
  }
  &.positive > .value {
    color: $dashboard-positive-color;
  }
  &.negative > .value {
    color: $dashboard-negative-color;
  }
}
