@import '../../../../../../../scss/vars';

.crashesViewer {
  width: 550px !important;
  max-width: 550px !important;
  .crashesViewerContent {
    display: flex;
    flex-grow: 1;
    background: $white;
    flex-direction: column;
    .crashesViewerRow {
      display: flex;
      flex-grow: 1;
      > div {
        width: 50%;
        padding: 6px;
      }
      > div:first-child {
        text-align: right;
      }
      .alarmContent {
        display: flex;
        align-items: center;
      }
    }
  }
}