@import "../../scss/vars";

.selectWrapper {
  position: relative;
  select {
    line-height: 14px;
    pointer-events: none;
    -moz-appearance: none;
    -webkit-appearance:none;
  }
  &:after {
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 15px;
    height: 100%;
    background: url(../../../resources/img/dropdown_button.png) no-repeat center #ff8000;
    pointer-events: none;
  }
}

.errorMark {
  right: 15px !important;
  border: none !important;
}
.optionsList {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: white;
  border: 1px solid #799ad1;
  margin-bottom: 0;
  color: black;
  flex-direction: column;
  list-style: none;
  z-index: 10;
  padding-left: 0;
  li {
    flex-grow: 1;
    padding: 0 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: default;
  }
  li:hover {
    background: #1e90ff;
    color: #fff;
  }
}
.placeholder {
  color: $placeholder !important;
  font-style: italic;
}