@import "../../../../../../scss/vars";

.dashboardFilter {
  & > p {
    margin-bottom: 0;
    font-size: 1.1em;
    font-weight: bold;
  }
  &.enabled > p {
    color: $orange;
  }
  & > div {
    display: flex;
    margin-top: 6px;

    & > * + * {
      margin-left: 17px;
    }
  }
}
