.create-btn         {background: url("../../img/common/add.png"); width: 24px; height: 24px;}
.create-btn:hover   {background: url("../../img/common/add_over.png");}
.create-btn:active  {background-color: #262626;}

.delete-btn         {background: url("../../img/common/delete_0.png"); width: 24px; height: 24px;}
.delete-btn:hover   {background: url("../../img/common/delete_over.png");}
.delete-btn:active  {background-color: #262626;}