@import "vars";
@import "~bootstrap/scss/bootstrap";

html, body {
  height: 100% !important;
  width: 100% !important;
  margin: 0;
  padding: 0;
  min-height: 100%;
}

body {
  font-family: Tahoma, Arial, sans-serif;
  line-height: 1em;
  font-weight: normal !important;
  padding: 0;
}

.app-root {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

// TABS
.nav-tabs {
  border-bottom: 0;
  .nav-item {
    margin-bottom: 0;
  }
  .nav-link {
    cursor: pointer;
    background-color: $light-blue;
    border-left: 0;
    &.active {
      background-color: $white !important;
    }
  }
}

//TABLES

thead {
  font-weight: $table-thead-font-weight;
  color: $white;
  background: #0e0e0e; /* Old browsers */
  background: -moz-linear-gradient(top, #0e0e0e 0%, #474747 33%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #0e0e0e 0%, #474747 33%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #0e0e0e 0%, #474747 33%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.table {
  margin-bottom: 0;
  tr {
    &:hover {
      opacity: 0.9;
    }
  }

  th {
    font-weight: $table-thead-font-weight;
  }
}

.table-bordered {
  td {
    border-right: $table-left-border;
  }
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: $placeholder !important;
}

