* {
  box-sizing: border-box;
}
html, body{
  height: 100% !important;
  width: 100% !important;
  margin: 0;
  padding: 0;
  min-height: 100%;
}

body{
  font-family: Tahoma, Arial, sans-serif;
  line-height: 1.42857143;
  font-weight: normal !important;
  font-size: 14px;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* Checkbox */
.checkbox-input:before {background: url(../resources/img/checkbox/checkbox_empty.png) no-repeat 0 0}
input[type=checkbox]:checked + .checkbox-input:before {background: url(../resources/img/checkbox/checkbox_on.png) no-repeat 0 0}
input[type=checkbox]:disabled + .checkbox-input:before {background: url(../resources/img/checkbox/checkbox_empty_locked.png) no-repeat 0 0; cursor: not-allowed}
input[type=checkbox]:checked:disabled + .checkbox-input:before {background: url(../resources/img/checkbox/checkbox_on_locked.png) no-repeat 0 0; cursor: not-allowed}

@import "vars";
