.loginContainer {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .loginPanel {
    h1 {
      margin: 8px;
    }
    button {
      margin: 8px;
    }
  }
  .loginForm {
    width: 400px;
    .inputField {
      margin: 8px;
    }
    :first-child {
      margin-top: 24px;
    }
  }
}
