@import "../../../style.global";

.loginContainer {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: $white;
  justify-content: center;
  .loginForm {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    button {
      width: 100%;
      margin-top: 16px;
    }
  }
}

.errorMessage {
  width: 100%;
  margin-top: 2em;
  color: red;
}

.errorGroup {
  width: 100%;
  > * {
    margin-top: 8px
  }
}


