.roleEditorContent {
  display: flex;
  flex-direction: row;
  .userForm {
    width: 300px;
    > *:not(:last-child) {
      margin-bottom: .3rem;
    }
  }
  .userRoles {
    display: flex;
    flex-grow: 1;
    margin-left: 10px;
  }
}