@import '../../../scss/vars';

.alarmsWrapper {
  display: flex;
  flex-grow: 1;
  height: 100%;
  padding: 0 9px 0 0;
}

.alarmsContentWrapper {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.alarmsControls {
  padding: 3px 18px;
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  background: $white;
  .alarmsFilterGroups{
    display: flex;
    flex: 0 0 75%;
    align-items: center;
    .alarmsFilterGroup {
      display: flex;
      flex-wrap: wrap;
      margin: 4px 0;
    }
    .applyButton {
      font-size: 12px;
      line-height: 0;
      height: $input-height;
    }
  }
  .search {
    width: 20em;
  }
}
.warningMsg {
  width: 225px;
  color: $white;
  padding: 0 8px 8px;
  display: flex;
  &:before {
    content: url(../../../../resources/img/warning.png);
    height: 15px;
    width: 15px;
    display: block;
    margin-right: 8px
  }
}
.buttonWrapper {
  display: flex;
  justify-content: flex-end;
  padding: 16px 8px 0;
  *:not(:last-child) {
    margin-right: 8px;
  }
}
.historicalDropdown {
  left: 1px !important;
  top: -3px !important;
}