@import '../../../scss/vars';

.alarmsWrapper {
  display: flex;
  flex-grow: 1;
  height: 100%;
  width: 100%;
  padding: 0 9px 0 0;
}

.alarmsContentWrapper {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.alarmsControls {
  padding: 7px 18px;
  height: 36px;
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  background: $white;
  .alarmsFilterGroups, .alarmsFilterGroup {
    display: flex;
    .alarmsFilterGroup + .alarmsFilterGroup {
      margin-left: 40px;
    }
  }
  .alarmsFilterGroups .applyButton {
    font-size: 12px;
    margin-left: 40px;
    line-height: 0;
    height: $input-height;
  }
  .search {
    width: 20em;
  }
}