@import "../../scss/vars";

.tabsWrapper {
  display: flex;
  flex-direction: column;
}

.tabContent {
  height: 100%;
  background-color: $white;
  height: 100%;
  width: 100%;
  .tab-pane.active {
    height: 100%;
    width: 100%;
  }
  .stripedBack {
    background: linear-gradient(
                    to bottom,
                    $light-grey,
                    $white 50%,
                    $light-grey 50%,
                    $white
    );
  }
}
