@import "../../scss/vars";
@import "../../scss/tabs";

.tabsWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  .navPanel {
    display: flex;
    height: $navPanelHeight;
    flex-direction: row;
    justify-content: center;
    background-color: $nav-background;
    .underline {
      position: absolute;
      height: $underlineHeight;
      width: 0;
      background-color: $underlineColor;
      left: 0;
      top: $navItemHeight;
      -webkit-transition: 0.5s ease;
    }
  }
}

.tabContent {
  display: flex;
  flex: 1;
  background-color: $white;
  .tab-pane.active {
    height: 100%;
    width: 100%;
  }
  .stripedBack {
    background: linear-gradient(
                    to bottom,
                    $light-grey,
                    $white 50%,
                    $light-grey 50%,
                    $white
    );
  }
}
