@import "../../../../../scss/vars";

.roleEditor {
  width: 380px;
  .modal-footer {
    justify-content: flex-end;
  }
}

.roleEditorContent {
  display: flex;
  flex-direction: column;
  .panel + .panel {
    margin-top: 1px;
  }
}

.selectPlaceholder {
  color: $placeholder;
}