@import "../../../../../scss/vars";

.kqiCalculator {
  width: 940px;
  max-width: 940px !important;
  .kqiCalculatorContent {
    display: flex;
    flex-direction: column;
    .panel + .panel {
      margin-top: 1px;
    }
    .bottomContent {
      display: flex;
      margin-top: 1px;
      flex-grow: 1;
      .panels {
        display: flex;
        flex: 1;
        flex-direction: column;
        margin-left: 1px;
      }
    }
  }
  .modal-footer {
    justify-content: flex-end;
  }
}

.groupingBlock {
  display: flex;
  flex: 1 1 0;
}

.manufactures {
  display: flex;
  height: 205px;
  .manufactureLabel {
    display: flex;
    flex-direction: column;
    padding: 15px 0;
  }
}

.kqiPeriod {
  display: flex;
  flex-grow: 1;
  margin-bottom: 5px;
}

.displayField {
  padding: 3px 2px 2px 9px;
  margin-bottom: 1px;
}