@import "../../../../../scss/vars";

.kqiHistoryWrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  width: 100%;
  .kqiHistoryControls {
    padding: 7px 18px;
    height: 36px;
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    background: $white;
    .kqiHistorySearch {
      width: 20em;
      margin-left: auto;
    }
  }
}

