@import '../../../scss/vars';

.notification {
  display: flex;
  flex-direction: column;
  background: $notifications-background;
  position: absolute;
  top: 12px;
  right: 12px;
  z-index: 99999;
  .notificationMessage {
    display: flex;
    flex-direction: row;
    justify-items: center;
    z-index: 99999;
    align-items: center;
    margin: $notification-margin;
    border: $notification-border;
    padding: $notification-padding;
    background-color: $notification-background;
    .notificationActions {
      padding: 8px 0 0 0;
      min-width: 200px;
      display: flex;
      flex-direction: row-reverse;
      * {
        margin-left: 4px;
      }
    }
    .closeIcon {
      background: url(../../../../resources/img/close.png);
      position: absolute;
      right: $notification-margin;
      top: $notification-margin;
      margin: 6px;
      height: 7px;
      width: 7px;
    }
    &.criticalMsg {
      &:before {
        content: url(../../../../resources/img/error.png);
        height: 15px;
        width: 15px;
        display: block;
        margin-right: 8px
      }
    }
    &.confirmationMsg {
      &:before {
        content: url(../../../../resources/img/warning.png);
        height: 15px;
        width: 15px;
        display: block;
        margin-right: 8px
      }
    }
  }
}

