@import '../../scss/vars';

.disabled {
  &:before {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    background: rgba(255,255,255,.5);
    z-index: 1;
  }
}

.fieldWrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  position: relative;
  &.required {
    color: $orange;
  }
  &.rightLabel {
    flex-direction: row-reverse;
    .fieldLabel {
      text-align: left;
    }
  }
  .fieldLabel {
    text-align: right;
    padding: 2px 5px 2px 0;
    margin-bottom: 0;
  }
  .fieldInput {
    background: $white;
  }
  .form-check-input {
    position: relative;
    margin-left: 0;
  }
}
.fieldWrapper + .fieldWrapper {
  margin-top: 5px;
}