@import "../../scss/vars";

$tile-width: 120px;
$tile-height: 104px;

.sideMenu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: $tile-width;
  background-color: #063752;
  .menuTile {
    color: $white;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    width: $tile-width;
    height: $tile-height;
    overflow: hidden;
    transition: opacity 0.2s linear;
    .notificationCount {
      position: absolute;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: normal;
      text-align: center;
      color: $white;
      background: red;
      width: 18px;
      line-height: 14px;
      border-radius: 8px;
      padding: 2px;
      font-size: 8px;
      cursor: pointer;
    }
    .tileTitle {
      margin-top: 10px;
      cursor: default;
      font-size: 12px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #ffffff;
    }
    &:not(.activeTile):hover {
      opacity: 0.7;
      cursor: pointer;
    }
    &.activeTile {
      background-color: $darkest-blue;
      .iconBlock {
        cursor: default;
      }
    }
  }
}

.notificationCountPopup {
  display: flex;
  flex-direction: column;
  padding: 4px;
  > *:not(:first-child) {
    padding-top: 4px
  }
  .type {
    color: $white;
    cursor: pointer;
    > .count {
      font-weight: bold;
      color: $red;
      margin-left: 2px;
    }
  }

}