@import '../../../../../scss/vars';

.policyEditorContent {
  display: flex;
  flex-direction: row;
  .policyEditorColumn {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  .policyEditorColumn:first-child {
    margin-right: 1px;
  }
}

.conditionsWrapper {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  .conditions {
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
    border: 1px solid #ced4da;
    box-shadow: inset 0px 5px 5px 0px rgba(191,191,191,1);
    padding: .5em;
    overflow-y: auto;
    overflow-x: hidden;
    .conditionBlock {
      background: $smooth-grey;
      border: 1px solid #ced4da;
      border-radius: 0.25rem;
      padding: 5px;
      .parameters {
        width: 95%;
        float: left;
        > div:first-child {
          margin-bottom: 5px;
        }
      }
      .remove {
        float: right;
        cursor: pointer;
        padding: 0 1px;
      }
    }
    .conditionBlock:not(:last-child) {
      margin-bottom: 5px;
    }
  }
}
