@import '../../../../../scss/vars';

.roleEditorContent {
  display: flex;
  flex-direction: row;
  .roleEditorColumn {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  .roleEditorColumn:first-child {
    margin-right: 1px;
  }
}

.panel {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  background: $white;
  .panelHeader {
    padding: 10px;
    background: $light-grey;
    color: $dark-blue;
  }
  .panelBody {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    padding: 10px;
    > div:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

.conditions {
  display: flex;
  flex: 1 1 0;
  flex-direction: column;
  border: 1px solid #ced4da;
  padding: 5px;
  overflow-y: auto;
  overflow-x: hidden;
    .conditionBlock {
      background: $light-grey;
      border: 1px solid #ced4da;
      border-radius: 0.25rem;
      padding: 5px;
      .parameters {
        width: 95%;
        float: left;
        > div:first-child {
          margin-bottom: 5px;
        }
      }
      .remove {
        float: right;
        cursor: pointer;
        padding: 0 1px;
      }
    }
    .conditionBlock:not(:last-child) {
       margin-bottom: 5px;
    }
}