@import '../../../../../scss/vars';
.policyEditor {
  width: 850px !important;
  max-width: 850px !important;
  .policyEditorContent {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    width: 100%;
    .policyEditorColumn {
      display: flex;
      flex-direction: column;
      width: 50%;
      .panel + .panel {
        margin-top: 1px;
      }
    }
    .policyEditorColumn + .policyEditorColumn {
      padding-left: 1px;
    }
  }
  .modal-footer {
    justify-content: flex-end;
  }
}
.accidentsPanel {
  margin-top: 1px;
  .accidentsBlock {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
  }
}

.invalidBorder {
  border: 1px solid $danger !important;
  color: $danger
}

.conditionsWrapper {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  margin-top: 10px;
  .conditions {
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
    border: 1px solid #ced4da;
    box-shadow: inset 0px 5px 5px 0px rgba(191,191,191,1);
    padding: .5em;
    overflow-y: auto;
    overflow-x: hidden;
    .conditionBlock {
      background: $smooth-grey;
      border: 1px solid #ced4da;
      border-radius: 0.25rem;
      padding: 5px;
      .parameters {
        width: 95%;
        float: left;
      }
      .remove {
        float: right;
        cursor: pointer;
        padding: 0 1px;
      }
    }
    .conditionBlock:not(:last-child) {
      margin-bottom: 5px;
    }
  }
}

.fieldWithUnit {
  .fieldInput {
    flex-direction: row;
    display: flex;
  }
}

.testPolicyConfirm {
  width: 250px !important;
  max-width: 250px !important;
}